image: "rust:latest"

# Install additional packages, like a C compiler and cmake
#
# Notes:
# * xxd is needed to build cryptominisat
before_script:
- apt-get update -yqq
- apt-get install -yqq --no-install-recommends build-essential cmake xxd

# Use cargo to test the project
test:cargo:
  script:
  - rustc --version && cargo --version      # Print version info for debugging
  - cargo test --all --verbose

